<div class="bg-surface-0 dark:bg-surface-950 px-6 py-8 md:px-12 lg:px-56">
  <div class="flex flex-col items-center gap-6 text-center">
    <app-logo></app-logo>
    <div class="flex flex-col gap-2">
      <p class="text-base text-surface-500 dark:text-surface-300 leading-normal">
        AlphaHex, Inc. delivers innovative cloud solutions to empower businesses.<br />
        Our platform simplifies workflows, boosts productivity, and scales with your needs.<br />
        All rights reserved.
      </p>
    </div>
    <div class="flex items-center gap-8">
      <a class="cursor-pointer text-surface-900 dark:text-surface-0 hover:opacity-75">
        <i class="pi pi-linkedin text-xl! leading-normal!"></i>
      </a>
      <a class="cursor-pointer text-surface-900 dark:text-surface-0 hover:opacity-75">
        <i class="pi pi-instagram text-xl! leading-normal!"></i>
      </a>
      <a class="cursor-pointer text-surface-900 dark:text-surface-0 hover:opacity-75">
        <i class="pi pi-github text-xl! leading-normal!"></i>
      </a>
    </div>
  </div>
</div>
