<div class="menu-container relative bg-surface-0 dark:bg-surface-950">
    <div class="bg-surface-0 dark:bg-surface-900 py-4 px-8 lg:px-20 flex items-center justify-between border-b border-surface-200 dark:border-surface-800 relative lg:static">
        <app-logo></app-logo>

        <a
            pStyleClass="@next"
            enterFromClass="hidden"
            enterActiveClass="animate-fadein"
            leaveToClass="hidden"
            leaveActiveClass="animate-fadeout"
            [hideOnOutsideClick]="true"
            resizeSelector=".menu-container"
            [hideOnResize]="true"
            class="cursor-pointer block lg:hidden text-surface-700 dark:text-surface-100"
        >
            <i class="pi pi-bars text-xl! leading-normal!"></i>
        </a>

        <div class="hidden lg:flex flex-1 items-center justify-center absolute lg:static w-full bg-surface-0 dark:bg-surface-900 left-0 top-full z-50 shadow lg:shadow-none">
            <div class="flex items-center justify-center gap-4 px-8 lg:px-8 py-4 lg:py-0 flex-col lg:flex-row">
                @for (item of navs(); track item.label) {
                    <a
                        [routerLink]="item.to"
                        routerLinkActive #rla="routerLinkActive"
                        [routerLinkActiveOptions]="{ exact: item.to === '/' }"
                        [ngClass]="[
                            'flex items-center gap-2 p-2 rounded-lg cursor-pointer transition-colors duration-150 border w-full lg:w-auto',
                            rla.isActive
                                ? 'bg-surface-100 dark:bg-surface-800 border-surface-200 dark:border-surface-700'
                                : 'border-transparent hover:bg-surface-50 dark:hover:bg-surface-800 hover:border-surface-200 dark:hover:border-surface-700'
                        ]"
                    >
                        <i [ngClass]="['pi', item.icon, 'leading-normal!', rla.isActive ? 'text-surface-900 dark:text-surface-100' : 'text-surface-500 dark:text-surface-400']"></i>
                        <span [ngClass]="['font-medium', rla.isActive ? 'text-surface-900 dark:text-surface-100' : 'text-surface-600 dark:text-surface-300']">{{ item.label }}</span>
                    </a>
                }
            </div>
            <!-- <div class="flex items-center justify-between gap-8 px-8 lg:px-0 py-4 lg:py-0 border-t lg:border-t-0 border-surface-200 dark:border-surface-700">
                <a class="flex items-center justify-center cursor-pointer">
                    <i class="pi pi-bell text-xl! leading-normal! text-surface-600 dark:text-surface-300"></i>
                </a>

                <p-avatar image="https://fqjltiegiezfetthbags.supabase.co/storage/v1/render/image/public/block.images/blocks/avatars/circle/avatar-f-1.png" shape="circle" class="w-8! h-8! cursor-pointer"></p-avatar>
            </div> -->
        </div>
    </div>
</div>
